/build/
/.settings/
/.classpath
/.project
/bin/
*.class
*.war
*.ear
/target/
.DS_Store
db.properties
.antigravity/skills
.idea/
*.iml
*.iws
*.ipr
.smarttomcat/
src/main/resources/config.properties
hs_err_pid*
replay_pid*